body {
    max-width: 80vw;
    background-color: rgb(239, 239, 243);
    margin: 0 auto;
}

h1 {
    text-align: center;
    border: 5px solid rgb(223, 164, 173);

    border-radius: 10px;
}

.container {
    border: 5px solid pink;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

